body {
    margin: 0;
    padding: 0;
    background: #103a4a;
}
#action {
    min-width: 18em;
}

.btn
 {
    border: none;
    outline: none;
    background: #103a4a;
    color: #fff;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    opacity: 0.7;
    color: yellow;
    transition: 0.5s all ease-in-out;
}
